*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body {
	font-family: 'Josefin Slab', serif;
}


.full-width-title {
	width: 100%;
	background-color: #2d3945;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	padding: 28px 0;
}

hr {
	margin: 5px auto ;
	border: 1px solid #2d3945;

}

h2 {
	color: #2d3945;
	font-size: 1em;
	font-weight: 700;
	padding-bottom: 10px;
}

 legend {
 	color: #2d3945;
 	font-weight: 700;
 	padding-bottom: 20px;
 }

.signup-info {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 6px;
	border-bottom: 4px solid #2d3945;
	font-size: 1.2em;
}

.signup-info h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	color: #2d3945;
	font-size: 1em;
	font-weight: 700;
}

.signup-info p {
	color: #b1b5b9;
	font-size: .875em;
	padding-bottom: 40px;
}

form {
	width: 90%;
	margin: 0 auto;
	border-radius: 8px;
}

fieldset {
	margin-top: 20px;
	border: none;
	padding-bottom: 20px;
}


label {
	display: block;
	font-size: .875em;
	font-weight: 300;
	color: #2d3945;
	padding-top: 12px;
	padding-bottom: 8px;
}

input, select, textarea {
	border-radius: 6px;

}
 
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
    border: 2px solid #46698b;
    background-color: white;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
textarea,
select {
	border: 2px solid white;
	background-color: #eff0f1;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	color: #8a97a0;
	transition: all 0.3s ease;
}


input[id="zip"] {
	width: 50%;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
}

.inline {
	display: inline;
}

fieldset p {
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
	margin-bottom: 15px;
}

button {
	font-family: 'Josefin Slab', serif;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #4ebbb5;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 20px;
}

.footer {
	width: 100%;
	font-size: 1.5em;
	color: #b1b5b9;
	text-align: center;
	font-style: italic;
}


::-webkit-input-placeholder {
	font-family: 'Josefin Slab', serif;
	text-align: right;
	font-size: .775em;
	font-style: italic;
	padding-right: 5px;
}

@media (min-width: 760px) {
	

	.signup-info,
	form {
		max-width: 600px;
	}

	.flexible label {
/*		border: 1px solid red;*/
		display: inline;
		float: left;
		width: 25%;
		padding: 17px 0;
		margin-bottom: 17px;
	}

	.flexible input, 
	.flexible select {
/*		border: 1px solid red;*/
		float: right;
		width: 75%;
		margin-bottom: 16px;
	}

	textarea {
		height: 8em;
	}

	input, 
	select, 
	textarea {
	border-radius: 8px;
	}

}

@media (min-width: 1025px) {
	
	
	.signup-info,
	form {
		max-width: 1024px;
	}

	.contact-left {
		width: 50%;
		float: left;
	}

	.contact-right {
		width: 50%;
		float: right;
		padding-left: 55px;
	}

	.newsletters {
		width: 50%;
		float: left;
		padding-right: 15px;
	}

	.newsletter-format {
		width: 50%;
		float: right;
	}

	label[for="other-topics"] {
		clear: both;
	}


}

