* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/** {
	border: 1px solid red;
}*/

body {
	font-family: 'Josefin Slab', serif;
}

header {
	position: fixed;
	height: 50px;
	width: 100%;
	background: white;

}

#search_box {
	display: block;
	margin: 10px auto;
	padding: 5px;
	font-size: 22px;
	width: 460px;
}

#gallery {
	padding-top: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 980px;
	text-align: center;
}

ul li {
	display: inline-block;
	margin-bottom: 60px;
}

ul li img {
	display: block;
}

a {
	text-decoration: none;
}

/*Overlay*/

