* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/** {
	border: 1px solid red;
}*/

body {
	font-family: 'Josefin Slab', serif;
}

header {
	position: fixed;
	height: 50px;
	width: 100%;
	background: white;

}

#search_box {
	display: block;
	margin: 0 auto;
	font-size: 22px;
	width: 460px;
}

.gallery {
	width: 980px;
	margin: 0 auto;
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery img {


}
